@font-face {
    font-family: 'blokletters_balpenbalpen';
    src: url('Blokletters-Balpen-webfont.eot');
    src: url('Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'),
         url('Blokletters-Balpen-webfont.woff2') format('woff2'),
         url('Blokletters-Balpen-webfont.woff') format('woff'),
         url('Blokletters-Balpen-webfont.ttf') format('truetype'),
         url('Blokletters-Balpen-webfont.svg#blokletters_balpenbalpen') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
        font-family: 'blokletters_potloodpotlood';
    src: url('Blokletters-Potlood-webfont.eot');
    src: url('Blokletters-Potlood-webfont.eot?#iefix') format('embedded-opentype'),
         url('Blokletters-Potlood-webfont.woff2') format('woff2'),
         url('Blokletters-Potlood-webfont.woff') format('woff'),
         url('Blokletters-Potlood-webfont.ttf') format('truetype'),
         url('Blokletters-Potlood-webfont.svg#blokletters_potloodpotlood') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'blokletters_viltstifviltstift';
    src: url('Blokletters-Viltstift-webfont.eot');
    src: url('Blokletters-Viltstift-webfont.eot?#iefix') format('embedded-opentype'),
         url('Blokletters-Viltstift-webfont.woff2') format('woff2'),
         url('Blokletters-Viltstift-webfont.woff') format('woff'),
         url('Blokletters-Viltstift-webfont.ttf') format('truetype'),
         url('Blokletters-Viltstift-webfont.svg#blokletters_viltstifviltstift') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
    height: 100%;
    width: 100%;
    display:block;
}
html, body {
    margin:0;
    padding:0;
 }
header {
    background-color: #579C87;
    display: inline-flex;
    margin-bottom: 2%;
    width: 100%;
    height: 15%;
}
#titreHeader {
    font-size: 5vw;
    margin: 2% auto 2% auto;
}
header a {
    text-decoration: none;
    color: #FDCB46;
}
h2 {
    text-align: center;
    font-size: 1.8vw;
}
.barre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 3% 2.5% 3%;
}
#laPalette {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fdfffd;
    box-shadow: 1px 1px 10px;
    margin: 0% 5% 10% 5%;
    padding: 5% 0 5% 0;
    justify-content: center;
}
.titreEntree {
    background-color: #fdfffd;
    font-size: 1.5vw;
    text-align: center;
    margin: 0 2% 0 2%;
    white-space: nowrap;
    display: block;
    max-height: 70%;
    font-weight: bold;
}
.titreEntree:nth-child(1) {
    flex: 2;
}
.titreEntree:nth-child(3) {
    flex: 2;
}
.pres {
    display: block;
    justify-content: center;
    max-width: 40%;
    height: auto;
    margin: 2% auto 2% auto;

}
.plats {
    font-family: 'blokletters_balpenbalpen';
    font-style: italic;
    font-weight: lighter;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 12% 0 12%;
}
.prix {
    font-family: 'blokletters_balpenbalpen';
    font-weight: bold;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 10%;
    display: inline-flex;
    flex-direction: row;
    background-color: #579C87;
    justify-content: space-between;
}
footer p {
    margin: 1% 3% 1% 3%;;
    animation: shake 2s infinite;
}
footer a {
    text-decoration: none;
    color: #FDCB46;
    font-size: 2vw;
    text-decoration: none;
}
h3 {
    font-family: 'blokletters_viltstifviltstift';
    font-weight: lighter;
    position: relative;
    margin-top: -0.3%;
}
h3:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0.2vw;
    display: block;
    right: 0;
    background: #000;
    transition: width 1s ease;
  
}
h3:hover:after{
    width: 100%;
    left: 0;
    background: #000;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
