html {
    height: 100%;
    width: 100%;
    display: block;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #579C87;
    display: inline-flex;
    margin-bottom: 2%;
    width: 100%;
    height: 15%;
}

#titreHeader {
    font-size: 5vw;
    margin: 2% auto 2% auto;
}

header a {
    text-decoration: none;
    color: #FDCB46;
}

#menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.petitMenu {
    display: inline-block;
    max-width: 40%;
    height: auto;
    margin: 5% auto;
    box-shadow: 1px 1px 20px #555;
}

#prochainement {
    display: inline-block;
    justify-content: center;
    margin: 4% 40% 8% 40%;
    text-align: center;
    color: #FDCB46;
    font-size: 2.5vw;
    background-color: #579C87;
    padding: 1%;
    border-radius: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 10%;
    display: inline-flex;
    flex-direction: row;
    background-color: #579C87;
    justify-content: space-between;
}

footer p {
    margin: 1% 3% 1% 3%;
    ;
    animation: shake 2s infinite;
}

footer a {
    text-decoration: none;
    color: #FDCB46;
    font-size: 2vw;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 1.8vw;
}

.petitMenu {
    overflow: hidden;
    position: relative;
}

.petitMenu img {
    max-width: 100%;
    transition: all 0.8s;
}

.petitMenu * {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.petitMenu img:hover {

    transform: scale(1.26);
    opacity: 0.6;
}

.point1 {
    animation: point1 2s infinite;
}

.point2 {
    animation: point2 2s infinite;
}

.point3 {
    animation: point3 2s infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes point1 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes point2 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes point3 {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@media all and (max-device-width: 1280px) {

    footer a {
        text-decoration: none;
        color: #FDCB46;
        font-size: 5vw;
        text-decoration: none;
    }

    #prochainement {
        display: flex;
        justify-content: center;
        margin: 4% 35% 15% 35%;
        text-align: center;
        color: #FDCB46;
        font-size: 3.5vw;
        background-color: #579C87;
        padding: 1%;
        border-radius: 25px;
    }
    #menus {
        display: flex;
        flex-direction: column;

    }

    .petitMenu {
        display: inline-block;
        max-width: 70%;
        height: auto;
        margin: 5% auto;
        box-shadow: 1px 1px 20px #555;
    }

}

}
